*{
    margin: 0;
    padding: 0;
    outline: none;
}
@font-face{
    font-family: Ubuntu;
    src : url(font/Ubuntu-Regular.ttf)
}

.all{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    width: 100vw;
    height: 100px;
    background-color: #40e0d0;
    display:flex;
    align-content: center;
    /* align-items: center; */
}
.header-title{
    font-family: 'Ubuntu';
    font-size: 25px;
    margin:auto 10px;
}
.header-img{
    margin: auto 10px;
    width: 40px;
    height: 40px;
}

/* Main */
.main{
    flex-grow: 1;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 30px 50px;
}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
.box input {
    width: 94%;
    height: 30px;
    padding: 5px;
    font-family: 'Ubuntu';
    font-size: 15px;
}
.box label {
    font-size: 25px;
    font-family: 'Ubuntu';
}

/* Drop Down List */
.drop-down-list{
    z-index: 1;
    border: solid 1px #c0c0c0;
    border-radius: 3%;
    background-color: #fafafa;
    margin-top: 1px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.is-hide{
    display: none;
}
.movie-guess{
    display: flex;
    align-items: center;
}
.movie-img img{
    margin: 5px;
    width: 40px;
    height: 60px;
}
.movie-title p{
    font-family: 'Ubuntu';
    margin: 5px;
    cursor: pointer;
}

/* Details */
.right-details , .left-details{
    display:flex;
    flex-direction: column;
}
.summary{
    border: solid 1px #80effa;
    background-color: #87ceeb;
    max-width: 550px;
    margin: 5px 0;
    padding: 5px;
}
.summary p , .summary h3 {
    font-family: 'Ubuntu';
}
/* Footer */
.footer{
    width: 100vw;
    background-color: #10ffe0;
    display: flex;
    justify-content: center;
}
.footer p{
    padding: 10px;
    font-size: 22px;
    font-family: 'Ubuntu';
}